# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- List some of the popular languages used by Data Scientists
- List some of the libraries used by Data Scientists
- Perform few operations and activities related to Data Science using Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. TensorFlow
4. PyTorch
5. SciPy
6. Scikit-Learn

|Data Science Tools|
|------------------|
|Apache Spark|
|project Jupyter|
|SAS|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
eval("2 + 5")

7

In [3]:
 x = 10
eval("x*2")

20

In [4]:
a = 1
b = 2
c = a + b

eval("(a + b) * c")

9

In [5]:
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours , "hours")

3.3333333333333335 hours

## Author:
Anoop Nair